<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Planets</h1>
    </div>
  </div>
  <div class="next">
    <button mat-fab (click)="nextPage()" *ngIf="currentPage <= 7">></button>
  </div>
  <div class="previous">
    <button mat-fab (click)="previousPage()" *ngIf="currentPage > 1"><</button>
  </div>
  <div class="row align-items-end">
    <div class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements" *ngFor="let planet of planets">
      <planet-component [planet]="planet"></planet-component>
    </div>
  </div>
</div>
