
  <mat-card>
    <mat-card-title>{{vehicle.name}}</mat-card-title>
    <img mat-card-image src="assets/vehicle.png" alt="Photo">
    <mat-card-content>
      <mat-label><b>Model : </b>{{vehicle.model}}</mat-label>
    </mat-card-content>
    <mat-card-content>
      <mat-label><b>Passenger : </b>{{vehicle.passengers}}</mat-label>
    </mat-card-content>
    <mat-card-content>
      <mat-label><b>Vehicle class : </b>{{vehicle.vehicle_class}}</mat-label>
    </mat-card-content>
    <mat-card-content class="terrain">
      <mat-label><b>Manufacturer : </b>{{vehicle.manufacturer}}</mat-label>
    </mat-card-content>
    <mat-card-content>
      <mat-label><b>Lenght : </b>{{vehicle.length}}</mat-label>
    </mat-card-content>
    <mat-card-content>
      <mat-label><b>Max atmosphering speed: </b>{{vehicle.max_atmosphering_speed}}</mat-label>
    </mat-card-content>
    <mat-card-content>
      <mat-label><b>Cargo capacity : </b>{{vehicle.cargo_capacity}}</mat-label>
    </mat-card-content>
    <mat-card-content>
      <mat-label><b>Coast in credits : </b>{{vehicle.cost_in_credits}}</mat-label>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button *ngFor="let pilot of pilots">
        <mat-icon class="material-icons">face</mat-icon>
        {{pilot.name}}
      </a>
    </mat-card-actions>
  </mat-card>
