@import '../../../styles-variables';

mat-card-title.mat-card-title {
    height: 65px;
}
.terrain[_ngcontent-c10] {
    height: 50px;
}
mat-card-actions.mat-card-actions {
    overflow: auto;
    height: 100px;
    display: flex;
/* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;

    a{
      width: 100%;
          margin: 0;
          display: flex;
    }
}
mat-card.mat-card {
    // height: 750px;
}
.terrain{
  height: 40px;
}

mat-card-content.mat-card-content {
  height: 25px;
}

.next, .previous{
  position: fixed;
  height: 100vh;
  z-index: 2;
  width: 10%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next{
  right: 0;
}
.previous{
  left: 0;
}

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    mat-icon {
      position: relative;
      top: 2px;
      font-size: 16px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    top: -4px;
    left: 5px;
  }
}
